PORT=8000
MONGODB_URI=mongodb+srv://Your username:Your_Password@cluster0.99xjlng.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=use your secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=use your secret
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_NAME=YOUR CLOUDINARY NAME
CLOUDINARY_API_KEY=YOUR CLOUDINARY KEY
CLOUDINARY_API_SECRET=YOUR CLOUDINARY SECRET